::ng-deep .mat-chip.mat-standard-chip {
  background: nb-theme(color-bg);
  background-color: nb-theme(color-bg);
  color: nb-theme(form-control-text-primary-color) !important;
  max-height: 400px;
}
::ng-deep .nb-theme-default nb-card.select.bottom {
  max-height: 380px;
}