<div class="modal-header" style="background-color: #5982a9!important; color: #ffffff!important;">
  <span> {{title}}</span>
  <button (click)="closeModel()" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="background-color: #d1e6f1!important;">

  <div class="row bd-highlight flex-center">
    <h3>{{classificationName}}</h3>
  </div>
  <div class="row">
    <div class="d-flex justify-content-center">
      <app-draggable-list [ajaxOpt]="ajaxOpt" [sortCompare]="sortCompare"></app-draggable-list>
    </div>
  </div>

</div>
<div class="modal-footer flex-center">
  <div class="col-12 row flex-center">
    <button class="btn btn-md btn-ptc-confirm mx-5 "
      (click)="btnOrder()">{{ translations.COMMON.BTN_CONFIRM | translate }}</button>
    <!-- <button type="button" class="btn btn-sm btn-warning mx-5"
      (click)="btnBack()">{{ translations.COMMON.BTN_BACK | translate }}</button> -->
  </div>
</div>
