@mixin mat-table-columns($columns) {
  .mat-column- {
    @each $colName, $props in $columns {
      $width: map-get($props, "width");

      &#{$colName} {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: $width !important;
        width: $width !important;
        overflow-wrap: break-word;
        word-wrap: break-word;

        word-break: break-word;

        -ms-hyphens: auto;
        -moz-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;
      }
    }
  }
}

/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

.form-control:focus {
  color: black !important;
}

.cdk-global-scrollblock {
  position: static !important;
  overflow: hidden !important;
}

body {
  margin: 0;
  font-family: Roboto, "Microsoft JhengHei", "Helvetica Neue", sans-serif;
}

.swal2-title {
  color: #595959 !important;
}

.text-center {
  text-align: center !important;
}

.flex-center {
  justify-content: center !important;
}

.flex {
  display: flex;
}

.file-input {
  width: 100%;
}

img {
  animation: none !important;
  -webkit-animation: none !important;
}

.cdk-overlay-container {
  z-index: 1060 !important;
}

.ptc-case-card-body {
  background-color: #d1e6f1;
}
.accordionHeaderBlue {
  background-color: #5982a9;
  color: white;
  font-weight: bold;
  font-size: large;
}

.accordionHeaderOrange {
  background-color: rgb(209, 156, 57);
  color: white;
  font-weight: bold;
  font-size: large;
}

.modal-xl .modal-lg {
  max-width: 90% !important;
}

//抬頭
.nb-card-header {
  background-color: #5982a9!important;
  color: #ffffff!important;
}

//內容
.nb-card-body{
  background-color: #d1e6f1 !important;
  nb-checkbox {
    label > span.customised-control-indicator {
      border-color: #757474 ;
    }
  }
}

nb-option:hover {
  background-color:#5982a9!important;
  color: white;
}

.file-input{
  background-color: #eef4ff;
}


:host {
  app-ptc-local-table,
  app-ptc-server-table {
    .td {
      padding: 5px;
      font-family: Microsoft JhengHei;
    }
  }
}
