

$c-637688: #637688;
$c-8594a2: #8594a2;
$c-fff: #fff;
$c-fffc99: #fffc99;
$c-496786: #496786;
$c-5f99a2: #5f99a2;
$c-d2dee5: #d2dee5;
$c-383838: #383838;
$c-b9b8b8: #b9b8b8;
$c-637688: #637688;
$c-5982a9: #5982a9;
$c-a8cada: #a8cada;
$c-000: #000;
$c-3e469b: #3e469b;
$c-97a2d2: #97a2d2;
$c-52ad7b: #52ad7b;
$c-1ca446: #1ca446;
$c-a6956a: #a6956a;
$c-e2bf71: #e2bf71;
$c-951e23: #951e23;
$c-ff647a: #ff647a;
$c-5483c3: #5483c3;
$c-238dfa: #238dfa;
$c-66acdf: #66acdf;
$c-5b83aa: #5b83aa;
$c-95afc9: #95afc9;
$c-ededed: #ededed;
$c-383838: #383838;
$c-afefff: #afefff;

$c-17326e: #17326e;
$c-a39369: #a39369;
$c-eb6275: #eb6275;
$c-dcba70: #dcba70;

$c-4a98d3: #4a98d3;
$c-0f6ca5: #0f6ca5;

$c-93C9F3: #93C9F3;

$c-397FC3: #397FC3;
$c-66ACDF: #66ACDF;

$c-1c62aa: #1c62aa;
$c-66acdf: #66acdf;

$c-d1e6f1 : #d1e6f1;

$c-8ba1b6: #8ba1b6;
$c-496786: #496786;

$menu:(
    sidebar: $c-637688,
    border-color: $c-8594a2,
    font-color: $c-fff,
    a-hover: $c-fffc99,
    active: $c-496786
);

$breadcrumb: (
    bg: $c-5f99a2,
    text: $c-fff
);


$header: (
    bg: linear-gradient($c-fff, $c-d2dee5),
    text: $c-383838,
    segmentation: $c-b9b8b8,
    select-bg: $c-637688
);

$footer: (
    bg: $c-95afc9,
    color: $c-fff,
);

$select:(
    bg: $c-5982a9,
    border: 2px solid $c-5982a9,
    opt-bg: $c-5982a9,
);

$card: (
    header-bg: $c-5982a9,
    header-color: $c-fff,
    body-bg: $c-d1e6f1,
    body-label-color: $c-000,
);


$home: (
    counter-ball-bg: linear-gradient($c-fff, $c-ededed),
    counter-ball-line-color: $c-93C9F3,
    counter-ball-color: $c-383838,

    counter-ball-active-bg: linear-gradient($c-fff, $c-afefff),
    counter-ball-active-line-color: $c-238dfa,
);


$case: (
    tab-active-line-color: $c-5982a9,
    tab-full-line-color: $c-5982a9,
    tab-text-color: $c-000,
)

