<!-- 查詢條件 -->
<div class="row search-condition">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header class="nb-card-header">{{ translations.COMMON.SEARCH_CONDITION_TITLE | translate }}</nb-card-header>
      <nb-card-body class="nb-card-body">
        <form [formGroup]="form" autocomplete="off" (keyup.enter)="btnRender($event)">
          <!-- 企業別代號 -->
          <div class="row full-name-inputs">
            <div class="col-sm-12 nopadding">
              <div class="col-sm-4 input-group">
                <label starsign for="BuID"
                  class="col-sm-4 col-form-label">{{ translations.QUESTIONCATEGORY.BU_TITLE | translate }}</label>
                <div class="col-sm-8">
                  <!-- BUID => NodeID -->
                  <app-bu-select validator formControlName="BuID" [(ngModel)]="model.NodeID" name="BuID"
                    [placeholder]="translations.NODE_DEFINITION.BU_PLACEHOLDER | translate "></app-bu-select>
                </div>
              </div>
            </div>

            <div class="col-sm-12" *ngIf="dynamicSelect?._maxLevel.length > 0">
              <h6 class="font-weight-bold">{{ translations.QUESTIONCATEGORY.QUESTIONCLASSIFICATION | translate }}</h6>
            </div>
            <!--問題分類-->
            <app-dynamic-question-select *ngIf="this.model.NodeID !== null" [buID]="model.NodeID"
              [contentClass]="'px-3'" #dynamicSelect>
            </app-dynamic-question-select>
          </div>


          <!--查詢-->
          <div class="form-group">
            <div class="row">
              <div class="offset-sm-6 col-sm-3">
                <button type="button" class="btn btn-sm btn-ptc-search"
                  (click)="btnRender($event)">{{ translations.COMMON.BTN_SEARCH | translate }}</button>
              </div>
            </div>
          </div>

        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<!-- 查詢條件 -->

<!-- 查詢結果 -->
<div class="row search-result" [attr.hidden]="isEnable">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header class="nb-card-header"> {{ translations.COMMON.SEARCH_RESULT_TITLE | translate }}
        <button type="button" class="btn btn-sm btn-ptc-create float-right mx-1" (click)="btnAdd($event)"
          [authorize]="authType.Add">{{ translations.COMMON.BTN_ADD | translate }}</button>
      </nb-card-header>
      <nb-card-body class="nb-card-body">
        <app-server-table #table [ajax]="ajax" [columns]="columns" (critiria)="critiria($event)"
          (btnDelete)="onBtnDelete($event)" (btnEdit)="onBtnEdit($event)" (btnSearch)="onBtnSearch($event)"
          [btnDeleteText]="translations.COMMON.BTN_DELETE | translate" [templateRefs]="{Names: questionNames}">
        </app-server-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<!-- 查詢結果 -->

<!-- Server Table 客製化欄位 -->

<!-- 問題分類 -->
<ng-template #questionNames let-row="row">
  <div class="d-flex">
    <nb-card class="questionItem" *ngFor="let name of row.Names">
      <nb-card-body>
        <p class="text-overflow">{{ name }}</p>
      </nb-card-body>
    </nb-card>
  </div>
</ng-template>
