.header {
  width: 100%;
  padding: 15px;
  background-color: rgba(126, 182, 247, 1);
  color: #ffffff;
}

::ng-deep {
  .notify-content {
    height: 60px;
    border-bottom: 1px solid #dedede;
  }

  i {
    font-size: 40px;
  }

  pre {
    font-size: 15px;
  }
}

.example-viewport {
  height: 360px;

}

.todayRow{
  background-color: #53789f ;
}

.systitleRow{
  background-color: #5b82a9 ;
}

.btnLeft{
  display: flex;
  justify-content: flex-end;
}
