@import "../../../../../colors";

.common {
  color:  map-get($home, counter-ball-color);
  background: map-get($home, counter-ball-bg);
  font-size: large;
  font-family: Microsoft JhengHei;
  font-weight: bold;
  padding: 2em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
  width: 180px;
}

.hrClass {
  border: 2px solid map-get($home, counter-ball-line-color);
}

.blue {
  background-color: rgb(197, 219, 228);
}

.orange {
  background-color: rgb(241, 215, 167);
}

.specific {
  background: map-get($home, counter-ball-active-bg) !important;
  color:  map-get($home, counter-ball-color) !important;

  .hrClass{
    border: 2px solid map-get($home, counter-ball-active-line-color) !important;
  }
}
