@import "../../../../../basic.style.scss";


::ng-deep {
  @include mat-table-columns((p-operator: (width: 25%),
      Names: (width: 25%),
      Content: (width: 25%)));
}

nb-card-body {
  overflow: visible;
}

.input-group {
  margin-bottom: 1rem;
}

.form-group label {
  padding: 0 0 0.75rem;
}
.float-menu {
  position: fixed !important;
  right: 2%;
  top: 25%;
  cursor: pointer;
  z-index: 1049 !important; // ngModal z-index => 1050;
}

