@import "../../../../../basic.style.scss";

::ng-deep {
    @include mat-table-columns((CaseSourceType: (width: 6%),CreateTime: (width: 6%),CaseID: (width: 10%),CaseWarning: (width: 6%),CaseType: (width: 6%),
    ConcatUserName: (width: 6%),CaseComplainedUserName: (width: 6%),CaseContent: (width: 10%),ApplyUserName: (width: 6%),FirstClassification: (width: 6%),
    FinishContent: (width: 10%),ComplainedUserParentNamePath: (width: 6%),p-operator: (width: 16%)));
  }
  

  .truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }