<div class="col-12">
  <div class="row">

    <div class="col-12 input-group">
      <label class="col-sm-4 col-form-label" starsign>{{ translations.CASE_COMMON.CASE_INVOICELIST_TYPE | translate }}</label>
      <div class="col-sm-8">
        <app-open-select [(ngModel)]="model.InvoiceType" [items]="businessParameter?.CaseComplaintInvoiceTypes || []" 
        [placeholder]="translations.COMMON.SELECT_PLACEHOLDER | translate : {key: ''}"></app-open-select>
      </div>
    </div>
  </div>

</div>
