nb-accordion {
  width: 100%;
}

:host {

  app-ccmi2-m,
  app-ccmi2-p,
  app-ccmi2-n {
    width: 100%;
  }

  ::ng-deep {

    .nb-node-card {
      margin: 1px;
      padding: 10px;
      width: fit-content;
      height: 45px;
    }

    .input-group {
      margin-bottom: 1rem;
    }

    .form-group label {
      padding: 0 0 0.75rem;
    }

  }
}
