<div class="row notify-content" (click)="direct()">
    <div class="col-sm-1 align-items-center d-flex justify-content-center">
        <i class="far fa-file"></i>
    </div>
    <div class="col-sm-9 d-flex align-items-center">
        <pre class="m-0">{{ model.Content }}</pre>
    </div>
    <div class="col-sm-2 mb-1 d-flex align-items-end flex-column bd-highlight">
        <div class="p-2 bd-highlight">
            案件編號: {{ model.Extend?.CaseID }}
        </div>
        <div class="p-2 bd-highlight">
            {{ model.CreateDateTime }}
        </div>
    </div>
</div>