@import "../../../../../../basic.style.scss";

:host {
  width: 100%;

  nb-accordion {
    width: 100%;
  }

  #assignmnet-table {
    min-height: 300px;
  }
}

::ng-deep {
  .ccm2-modal {
    .modal-dialog {
      max-width: 60% !important;
    }
  }
}
