@import "../../../../../basic.style.scss";


.truncate {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::ng-deep {
  @include mat-table-columns((FromName: (width: 10%), Body: (width:10%), Subject: (width:10%), CaseID: (width:8%), Operator: (width: 12%)));
}
