@import "../../../../../../basic.style.scss";

.input-group {
  margin-bottom: 1rem;
}

.form-group label {
  padding: 0 0 0.75rem;
}

#other-info {
  //min-height: 300px;
}

nb-accordion {
  width: 100%;
}

.nb-close-circled {
  font-size: 3.5rem;
}

.small-close {
  font-size: 1.5rem;
}


.case-operator{

  position: relative;
  bottom: 0px;

  width: 100%;
  height: 70px;
  background-color: #bbbbbb;
  
}


.affix {
  position: fixed !important;
  width: 100vw;
  left: 0px;
  bottom: 0px;
  z-index: 1049 !important;
  background-color: #bbbbbbb0 !important;
}