<div class="input-group  {{input.groupClass}}" [formGroup]="form">
  <label for="{{input.id}}" class=" col-form-label {{input.lableClass}}">{{translateService.instant(input.lable)}}</label>
    <input type="text" id="{{input.id}}" validator class="form-control {{input.inputClass}}" placeholder="{{translateService.instant(input.placeholder)}}" class="form-control" [name]="input.name"
      [formControlName]="input.id" [(ngModel)]="bindingData[input.id]" [attr.disabled]="input.disabled" datetimepicker>
</div>
