<div class="modal-header">
  <span>{{ translations.CASE_COMMON.CASE_TRACK | translate }}</span>
  <button class="close" aria-label="Close" (click)="modalService.dismissAll()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <!-- table -->
  <nb-card [nbSpinner]="loading" nbSpinnerStatus="info">
    <app-local-table [columns]="columns" (btnSearch)="btnSearch($event)"
      [items]="datas" [isVisibleBtnDelete]="false" [isVisibleBtnEdit]="false">
    </app-local-table>
  </nb-card>
  <!-- end table -->

</div>