@import "../../../basic.style.scss";

.flag {
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin: 5px;
}

.row {
  margin: -0.5rem;
  width: 100vw !important;
}

#login-container {
  width: 400px;
  height: 600px;
  position: fixed;
  left: calc(50vw - 200px);
  top: calc(50vh - 300px);
}

#login-container::before {
  content: "";
  width: 400px;
  height: 600px;
  left: calc(50vw - 200px);
  top: calc(50vh - 350px);
  background-color: black;
  background-size: cover;
  opacity: 0.2;
  position: fixed;
  box-shadow: 4px 4px 12px 4px rgba(255, 255, 255, 0.67);
}

.titleLine {
  border-top: 1px solid #a3a3a3;
}
.loginColor {
  color: #333333;
}

.show-grid {
  div[class^="col-"] {
    padding: 0.5rem;
    box-sizing: border-box;

    div {
      text-align: center;
      padding: 0.75rem 0.25rem;
      border-radius: 0.25rem;
    }
  }
}

.grid-h {
  margin-top: 1.5rem;

  &:first-child {
    margin-top: 0;
  }
}

.table-responsive {
  margin-top: 1rem;
}

.form-control:focus {
  // color: white !important
  color: #000 !important;
}

:host {
  $auth-layout-padding: 2.5rem;

  nb-card {
    margin: 0;
    height: calc(100vh - 2 * #{$auth-layout-padding});
  }

  nb-card-body {
    display: flex;
    width: 100%;
  }

  nb-auth-block {
    margin: auto;
  }

  nb-layout-column {
    background-image: url(../../../assets//img/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: auto;
    overflow-y: auto;
  }
}

.vaild-img {
  background-repeat: no-repeat;
  background-size: cover;
  width: 70px;
  height: 46px;
  text-align: center;
}
