<!-- 查詢條件 -->
<div class="row search-condition">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header class="nb-card-header">{{ translations.COMMON.SEARCH_CONDITION_TITLE | translate }}</nb-card-header>
      <nb-card-body class="nb-card-body">
        <form [formGroup]="form" autocomplete="off" (keyup.enter)="btnRender($event)">
          <div class="row">
            <!-- 企業別選單 -->
            <div class="col-sm-6 input-group">
              <label starsign for="BuID"
                class="col-sm-2 col-form-label">{{ translations.COMMON.BU_NAME | translate }}</label>
              <div class="col-sm-8">
                <app-bu-select validator formControlName="BuID" name="BuID"
                  [placeholder]="translations.COMMON.BU_NAME_PLACEHOLDER | translate " [(ngModel)]="model.BuID">
                </app-bu-select>
              </div>
            </div>
            <!-- END 企業別選單 -->

            <!-- 年度 -->
            <div class="col-6 input-group">
              <label class="col-sm-2 col-form-label"
                for="ExpectDateTime">{{ translations.WORK_SCHEDULE.YEAR_LABEL | translate }}</label>
              <div class="col-sm-8 ">
                <input class="form-control" validator formControlName="YearTime" [(ngModel)]="model.YearTime"
                  placeholder="{{translations.WORK_SCHEDULE.YEAR_PLACEHOLDER | translate}}" id="YearTime" type="text" />
                <!-- <input type="text" validator
                  class="form-control" formControlName="YearTime" [placeholder]="translations.WORK_SCHEDULE.YEAR_PLACEHOLDER | translate"
                  [(ngModel)]="model.YearTime" [options]="dateTimeOpt" datetimepicker> -->
              </div>
            </div>
            <!-- 年度 -->

          </div>
          <div class="form-group">
            <div class="row d-flex justify-content-center">
              <button type="button" class="btn btn-sm btn-ptc-search" [authorize]="authType.Read"
                (click)="btnRender($event)">{{ translations.COMMON.BTN_SEARCH | translate }}</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<!-- 查詢結果 -->
<div class="row search-result" [attr.hidden]="isEnable">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header class="nb-card-header"> {{ translations.COMMON.SEARCH_RESULT_TITLE | translate }}
        <button type="button" class="btn btn-sm btn-ptc-delete float-right mx-1" (click)="btnDeleteRange($event)"
          [authorize]="authType.Admin">{{ translations.COMMON.BTN_DELETE | translate }}</button>
        <button type="button" class="btn btn-sm btn-ptc-create float-right mx-1" (click)="btnAdd($event)"
          [authorize]="authType.Add">{{ translations.COMMON.BTN_ADD | translate }}</button>
      </nb-card-header>
      <nb-card-body class="nb-card-body">
        <app-server-table #table [ajax]="ajax" [columns]="columns" (critiria)="critiria($event)"
          (btnDelete)="onBtnDelete($event)" (btnEdit)="onBtnEdit($event)" (btnSearch)="onBtnSearch($event)">
        </app-server-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<!-- 查詢結果 -->



<!-- LocalTable template -->
<ng-template #localTableExportTemp let-exportData>
  <div class="row search-result">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header class="nb-card-header"> {{ translations.COMMON.SEARCH_RESULT_TITLE | translate }}</nb-card-header>
        <nb-card-body class="nb-card-body">
          <!-- table -->
          <app-local-table [columns]="columnsExport" [items]="exportData" [isVisibleBtnEdit]="false"
            [isVisibleBtnSearch]="false" [isVisibleBtnEdit]="false">
          </app-local-table>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</ng-template>
