

<nb-card>
  <nb-card-header class="nb-card-header">{{ translations.KM.CLASSIFICATION_LIST | translate }}</nb-card-header>
  <nb-card-body class="nb-card-body">
    <i class="fas fa-comments"></i><label for="keyword" style="font-size: initial; font-weight: bold;" class="col-sm-4 col-form-label">{{ translations.COMMON.FORUM | translate }}</label>
    <app-km-tree
    #kmTree
    [kMNode]="nodes"
    (moveNode)="onMoveNode($event)"
    (clickNode)="clickNode($event)"
    (selectAddNode)="selectAddNode($event)"
    (selectDelete)="selectDelete($event)"
    (selectRename)="selectRename($event)"></app-km-tree>
  </nb-card-body>
</nb-card>
