<div class="row notify-content" (click)="direct()">
  <div class="col-sm-1 align-items-center d-flex justify-content-center">
    <i class="far fa-envelope"></i>
    <pre class="m-0">{{ model.Title }}</pre>
  </div>
  <div class="col-sm-2 d-flex align-items-center">
    <pre class="m-0" [nbPopover]="model.Subject" nbPopoverTrigger="hover"><span>{{ model.Subject }}</span></pre>
  </div>
  <div class="col-sm-7 d-flex align-items-center">
    <pre class="m-0" [nbPopover]="model.Content" nbPopoverTrigger="hover"><span>{{ model.Content }}</span></pre>
  </div>
  <div class="col-sm-2 d-flex align-items-end justify-content-end mb-1">
    <span>
      {{ model.ReceivedDateTime }}
    </span>
  </div>
</div>