:host ::ng-deep {
  .node-content-wrapper:hover {
    background-color: transparent;
  }

  .node-content-wrapper-focused {
    background-color: transparent;
  }

  .check-group {
    padding-top: 1rem!important;
  }

  .ever-has span {
    color: red!important
  }

  .clear-history{
    font-size: 0.5rem!important;
    size: 0.5rem!important
  }

}

