::ng-deep {

  .dot-floating {
    position: relative;
    background-color: white;
    color: white;
    animation: dotFloating 1s infinite;
  }


  @keyframes dotFloating {
    0% {
      left: calc(-20% - 5px);
      width: 10%;

    }

    75% {
      left: calc(50%);
      width: 50%;

    }

    100% {
      left: calc(100%);
      width: 0%;

    }
  }

  nb-spinner {
    z-index: 999 !important;
  }

  .loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10000;
    opacity: 0.4;
  }

  .loading .fixed {
    position: fixed;
  }

  .loading:before {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid nb-theme(form-control-text-primary-color);
    opacity: .9;
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-radius: 150px;
    box-shadow: 0 0 35px nb-theme(form-control-text-primary-color);
    width: 150px;
    height: 150px;
    -moz-animation: spinPulse 1s infinite ease-in-out;
    -webkit-animation: spinPulse 1s infinite linear;
    margin: -25px 0 0 -25px;
    position: absolute;
    top: 30%;
    left: 50%;
  }

  .loading:after {
    content: '';
    background-color: rgba(0, 0, 0, 0);
    border: 5px solid #3dcc3d;
    opacity: .9;
    border-left: 5px solid rgba(0, 0, 0, 0);
    border-right: 5px solid rgba(0, 0, 0, 0);
    border-radius: 130px;
    box-shadow: 0 0 15px #3dcc3d;
    width: 130px;
    height: 130px;
    -moz-animation: spinoffPulse 1s infinite linear;
    -webkit-animation: spinoffPulse 1s infinite linear;
    margin: -15px 0 0 -15px;
    position: absolute;
    top: 30%;
    left: 50%;
  }



  @-moz-keyframes spinPulse {
    0% {
      -moz-transform: rotate(160deg);
      opacity: 0;
      box-shadow: 0 0 1px #2187e7;
    }

    50% {
      -moz-transform: rotate(145deg);
      opacity: 1;
    }

    100% {
      -moz-transform: rotate(-320deg);
      opacity: 0;
    }
  }

  @-moz-keyframes spinoffPulse {
    0% {
      -moz-transform: rotate(0deg);
    }

    100% {
      -moz-transform: rotate(360deg);
    }
  }

  @-webkit-keyframes spinPulse {
    0% {
      -webkit-transform: rotate(160deg);
      opacity: 0;
      box-shadow: 0 0 1px #2187e7;
    }

    50% {
      -webkit-transform: rotate(145deg);
      opacity: 1;
    }

    100% {
      -webkit-transform: rotate(-320deg);
      opacity: 0;
    }
  }

  @-webkit-keyframes spinoffPulse {
    0% {
      -webkit-transform: rotate(0deg);
    }

    100% {
      -webkit-transform: rotate(360deg);
    }
  }
}


::ng-deep img {

  animation: scale 1s ease-out infinite;
  height: 200px;
}

@keyframes scale {
  5% {
    -webkit-transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.3);
  }

  100% {
    -webkit-transform: scale(1);
  }
}
