@import "../../../../../../basic.style.scss";

.input-group {
  margin-bottom: 1rem;
}

.form-group label {
  padding: 0 0 0.75rem;
}

.prevention-case-card {
  cursor: pointer;
}

app-ac,
app-us {
  width: 100%;
}

nb-accordion {
  width: 100%;
}

#voice {
  font-size: 2em;
}


.case-operator{

  position: relative;
  bottom: 0px;

  width: 100%;
  height: 70px;
  background-color: #bbbbbb;

}

.nb-close-circled {
  font-size: 3.5rem;
}

.small-close {
  font-size: 1.5rem;
}

.nb-search {
  font-size: 2rem;
}
:host::ng-deep
nb-checkbox {
  label > span.customised-control-indicator {
    border-color: #757474 ;
  }
}