@import "../../../../../basic.style.scss";

nb-card-body {
  overflow: visible;
}

.input-group {
  margin-bottom: 1rem;
}

.form-group label {
  padding: 0 0 0.75rem;
}

::ng-deep {
  @include mat-table-columns((p-operator: (width: 20%), Content: (width: 30%)));
}
