<div class="modal-header nb-card-header">
  <span>{{title}}</span>
  <button class="close" aria-label="Close" (click)="closeModel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" style="background-color: #eff8fd !important;">
  <app-ucm #ucmRef [sourcekey]="sourcekey" [(complainedUsers)]="users" [needResponsibility]="false" [allowMultiResponsibility]="true" [organizationSearchTerm]="organizationSearchTerm"></app-ucm>
</div>
<div class="modal-footer flex-center">
  <button (click)="btnCheck()" class="btn btn-md btn-ptc-confirm">{{ translations.COMMON.BTN_CHECK | translate }}</button>
</div>
