<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header class="nb-card-header">{{ translations.CHANGE_PASSWORD.TITLE | translate }}</nb-card-header>
      <nb-card-body class="nb-card-body">
        <form [formGroup]="form">
          <app-change-password [data]="model" [form]="form"></app-change-password>

          <!-- 設定按鈕 -->
          <div class="mt-5">
            <div class="row flex-center">
              <button type="button" *ngIf="!!user"  class="btn btn-sm btn-ptc-save mx-5" [authorize]="authType.Update"
                (click)="btnResetPassword($event)">{{ translations.CHANGE_PASSWORD.BTN_CHANGE | translate }} </button>
            </div>
          </div>
          <!-- END 設定按鈕 -->
        </form>

      </nb-card-body>
    </nb-card>
  </div>
</div>
