<!-- 駁回處置 -->
  <form [formGroup]="form">
    <div class="col-sm-12 input-group">
      <label for="RejectType" class="col-sm-12 col-form-label" starsign>{{ translations.CASE_RELATE.REJECT_DISPOSE | translate }}</label>
      <app-enum-select class="col-sm-12" validator [(ngModel)]="model.RejectType" formControlName="RejectType"
        [enumName]="'RejectType'" [filter]="filter" [placeholder]="translations.COMMON.SELECT_PLACEHOLDER | translate : {key: ''}">
      </app-enum-select>
    </div>
    <div class="col-sm-12">
      <label for="RejectReason" class="col-sm-12 col-form-label" starsign>{{ translations.CASE_RELATE.REJECT_REASON | translate }}</label>
      <div class="col-sm-12">
        <textarea rows="5" type="text" validator class="form-control" formControlName="RejectReason"
          [(ngModel)]="model.RejectReason"></textarea>
      </div>
    </div>
  </form>

<!-- END 類型 -->
