@import "../../../../../basic.style.scss";

::ng-deep {
  @include mat-table-columns(
    (
      Content: (
        width: 25%
      )
    )
  );

  .truncate {
    margin: 0 auto;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
