

@import "../../../../../basic.style.scss";

::ng-deep {
    @include mat-table-columns((p-operator: (width: 6%)));
  }
  
.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
