<div class="modal-header nb-card-header">
  <span>{{ translations.COMMON.SEARCH_RESULT_TITLE | translate }}</span>
  <button class="close" aria-label="Close" (click)="closeModel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body nb-card-body">
  <app-pc (related)="btnRelated($event)" [sourcekey]="sourcekey"></app-pc>
</div>
<div class="modal-footer flex-center">
  <!-- <button (click)="closeModel()" class="btn btn-md btn-warning">{{ translations.COMMON.BTN_BACK | translate }}</button> -->
</div>
