
:host ::ng-deep {
  .node-content-wrapper {
    padding: 0.5rem !important;
    font-size: 16px !important;

  }

  .angular-tree-component {
    padding-top: 2rem;
    padding-left: 2rem;
  }

  .treeNode-item > span {
    border-bottom: 1px dashed gray;
  }

}
