<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SMARTIIEntities" connectionString="metadata=res://*/SMARTII.SMARTII.csdl|res://*/SMARTII.SMARTII.ssdl|res://*/SMARTII.SMARTII.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DS2015DB\MSSQL2008R2;initial catalog=SMARTII0302;user id=sa;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SMARTII_OPEntities" connectionString="metadata=res://*/SMARTII_OP.SMARTII_OP.csdl|res://*/SMARTII_OP.SMARTII_OP.ssdl|res://*/SMARTII_OP.SMARTII_OP.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.2.6.70;initial catalog=SMARTII_OP;user id=smartii;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>