:host {
  position: fixed;
  right: 0;
  bottom: 20px;
  z-index: 99;
  width: 300px;

  div {
    padding-bottom: 10px;

    i {
      position: absolute;
      right: 0;
      font-size: 2em;
      z-index: 100;
    }
  }

  nb-card-header {
    i { font-size: 20px; }
  }

  nb-card-body{
    height: 400px;
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;

  }

}
