:host {
  div {
    max-height: 200px;
    background: antiquewhite;
    height: 200px;
    overflow-y: scroll;
    position: relative;
    margin-bottom: 10px;
    padding: 10px;

    i {
      position: absolute;
      right: 0;
    }
  }


}
