<div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header class="nb-card-header">{{ translations.CALLCENTER_NODE.TREE_TITLE | translate }}</nb-card-header>
      <nb-card-body class="nb-card-body">
        <app-callcenter-node-tree [uiActionType]="uiActionType"></app-callcenter-node-tree>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header class="nb-card-header">{{ translations.CALLCENTER_NODE.BASIC_INFORMATION | translate }}</nb-card-header>
        <nb-card-body class="nb-card-body">
          <app-callcenter-node-basic-information [uiActionType]="uiActionType">
          </app-callcenter-node-basic-information>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header class="nb-card-header">{{ translations.CALLCENTER_NODE.JOB_USER_TITLE | translate }}</nb-card-header>
        <nb-card-body class="nb-card-body">
          <app-callcenter-job-user-information [uiActionType]="uiActionType"></app-callcenter-job-user-information>
        </nb-card-body>
      </nb-card>
    </div>

  </div>
</div>
