
nb-card-body {
  overflow: visible;
}

.input-group {
  margin-bottom: 1rem;
}

.form-group label {
  padding: 0 0 0.75rem;
}

.general {
  color: black;
}

.warning {
  color: red;
  font-weight: bold;
}

.circle-cropper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.font-set {
  height:50px;
  font-size:20px;
  text-align:center;
  line-height:50px;
}

.nbuser {
  font-size: x-large;
}