@import "../../../../../basic.style.scss";

:host ::ng-deep {
  @include mat-table-columns(
    (
      ConcatUserName: (
        width: 5%,
      ),
      CaseComplainedUserName: (
        width: 5%,
      ),
      ComplainedUserParentNamePath: (
        width: 10%,
      ),
      p-operator: (
        width: 5%,
      ),
    )
  );
}

::ng-deep .classButton button.btn-primary  {

  background-color: #26547d!important;
}

.truncate {
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 auto;
}

.bodyStyle {
  background-color: #d1e6f1;
}
