.input-group {
  margin-bottom: 1rem;
}

.form-group label {
  padding: 0 0 0.75rem;
}

:host {
  textarea {
    width: 100%;
  }

  nb-card {
    width: 100%;
  }
  app-local-table{
    width: 100%;
  }
}
