<mat-list>
  <mat-list-item> {{translations.ITEM.PPCLIFE.CAN_RETURN | translate}} :
    {{particular?.CanReturn | bit:{true : '是' , false : '否'} }} </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> {{translations.ITEM.PPCLIFE.CHANNEL | translate}} : {{particular?.Channel}} </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> {{translations.ITEM.PPCLIFE.INTERNATIONAL_BARCODE | translate}} : {{particular?.InternationalBarcode}}
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item> {{translations.ITEM.PPCLIFE.STOP_SALES_DATETIME | translate}} :
    {{particular?.StopSalesDateTime | datetime}}
  </mat-list-item>
  <mat-divider></mat-divider>
</mat-list>
