.scroll-to-top {
    position: fixed;
    bottom: 15px;
    right: 15px;
    opacity: 0.3;
    transition: all 0.2s ease-in-out;
    z-index: 2000 ;
    border: 1px solid red;

  i{
    color: red;
  }

}
  
  .show-scrollTop {
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
  
  