@import "../../../../../../../basic.style.scss";



nb-card-body {
  overflow: visible;
}

nb-accordion {
  width: 100%;
}


::ng-deep {
  @include mat-table-columns((remind: (width: 180px), operator: (width: 15%)));
}

  

.truncate {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
