registry=http://tfs2:8080/tfs/sd4-collection/_packaging/Common_npm/npm/registry/
always-auth=true

; Treat this auth token like a password. Do not share it with anyone, including Microsoft support. This token expires on or before 9/27/2020.
; begin auth token
//tfs2:8080/tfs/sd4-collection/_packaging/Common_npm/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkxiV3JvZ2JONVRpTUN3elRlTDFEeTNMdnAwayJ9.eyJuYW1laWQiOiIzNzUzZGE1Yy1kNzkzLTQ0NTctYTE2Yy04ZTlhYjkxNzBlMDMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMGNhMDVlZjUtM2E3Yi00OGNlLTgxY2QtMjg0M2FlOTRhMDY2Iiwic2lkIjoiM2IyZjYxM2QtYmYxMi00M2RjLWFmYmMtOTFmNTJlNWU2NTMzIiwiaXNzIjoidGZzMiIsImF1ZCI6InRmczIiLCJuYmYiOjE2MDM2OTE1ODQsImV4cCI6MTYxMTQ2Nzc4M30.CCPsddv-W9drYbWomjifyJ63mJbEEM5gDtwrJp9hZEEBG7W_45KW0gwCU0Jy752e-xDP6muzX7YLuX8aDFqkBpfnzYqTNHBHFo1XCi6tzHdSOIwZQHFex9yInjnEDNOAFns-IO0ez0n6y9Ki8n1K7jKR3KBk538AuxtEEqS4SpxyAInjrSiZLJFODvs8UULP_I1F1B_MwJ-wz26vE42fPq5KJUt5g7zAkPPZd8z5Eu39T9ZfrWB0QGyohirLQpYsZj-uzwG7rIaf_yJILO1Gq5xEZ8405pp9xnkrRFKSiKm0AoiOQ65mWBhPfnZSycIbWDD0cItb9tWd-kolcy1zjA
//tfs2:8080/tfs/sd4-collection/_packaging/Common_npm/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6IkxiV3JvZ2JONVRpTUN3elRlTDFEeTNMdnAwayJ9.eyJuYW1laWQiOiIzNzUzZGE1Yy1kNzkzLTQ0NTctYTE2Yy04ZTlhYjkxNzBlMDMiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMGNhMDVlZjUtM2E3Yi00OGNlLTgxY2QtMjg0M2FlOTRhMDY2Iiwic2lkIjoiM2IyZjYxM2QtYmYxMi00M2RjLWFmYmMtOTFmNTJlNWU2NTMzIiwiaXNzIjoidGZzMiIsImF1ZCI6InRmczIiLCJuYmYiOjE2MDM2OTE1ODQsImV4cCI6MTYxMTQ2Nzc4M30.CCPsddv-W9drYbWomjifyJ63mJbEEM5gDtwrJp9hZEEBG7W_45KW0gwCU0Jy752e-xDP6muzX7YLuX8aDFqkBpfnzYqTNHBHFo1XCi6tzHdSOIwZQHFex9yInjnEDNOAFns-IO0ez0n6y9Ki8n1K7jKR3KBk538AuxtEEqS4SpxyAInjrSiZLJFODvs8UULP_I1F1B_MwJ-wz26vE42fPq5KJUt5g7zAkPPZd8z5Eu39T9ZfrWB0QGyohirLQpYsZj-uzwG7rIaf_yJILO1Gq5xEZ8405pp9xnkrRFKSiKm0AoiOQ65mWBhPfnZSycIbWDD0cItb9tWd-kolcy1zjA
; end auth token