@import "../../../../../../basic.style.scss";

.input-group {
  margin-bottom: 1rem;
}

.form-group label {
  padding: 0 0 0.75rem;
}

#other-info {
  //min-height: 300px;
}

nb-accordion {
  width: 100%;
}
