<nb-card>
  <nb-card-header class="nb-card-header"> {{translations.NOTIFICATION_GROUP_SENDER.USER_TITLE | translate}}({{model?.GroupName}})
  </nb-card-header>
  <nb-card-body class="nb-card-body">
    <app-local-table [columns]="columns" [items]="data" >
    </app-local-table>

  </nb-card-body>
  <nb-card-footer>
    <div *ngIf="model.GroupID">
      <div class="row flex-center">
        <button type="button" class="btn btn-sm btn-primary mx-5" [authorize]="authType.Update"
          (click)="btnSend()">{{translations.NOTIFICATION_GROUP_SENDER.USER_BTN_SEND | translate}}</button>
        <button type="button" class="btn btn-sm btn-danger mx-5" [authorize]="authType.Update"
          (click)="btnNoSend()">{{translations.NOTIFICATION_GROUP_SENDER.USER_BTN_NO_SEND | translate}}</button>
      </div>
    </div>
  </nb-card-footer>

</nb-card>


<ng-template #mailsender>
  <div class="modal-header nb-card-header">
    <span> {{translations.EMAIL_NOTIFICATION.SENDER_TITLE| translate }} </span>
    <button class="close" aria-label="Close" (click)="modalService.dismissAll()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body nb-card-body">
    <app-mail-sender [senderList]="senderList" [buID]="model.NodeID" [model]="sender" (onSend)="onSend($event)" (onBack)="modalService.dismissAll()">
    </app-mail-sender>
  </div>
</ng-template>
