<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-body>
        <form [formGroup]="form">
          <div class="row ">
            <!-- 原密碼 -->
            <div class="col-sm-12 input-group">
              <label for="OldPassword"
              starsign class="col-sm-2 col-form-label">{{translations.CHANGE_PASSWORD.OLD_PASSWORD | translate}}</label>

              <input type="password"
                validator
                class="form-control col-sm-8 "
                formControlName="OldPassword"
                id="OldPassword"
                placeholder="{{translations.CHANGE_PASSWORD.OLD_PASSWORD_PLACEHOLDER | translate}}"
                [(ngModel)]="data.OldPassword">

            </div>
            <!-- END 原密碼 -->

          </div>
          <div class="row">
            <!-- 新密碼 -->
            <div class="col-sm-12 input-group">
              <label for="NewPassword"
              starsign class="col-sm-2 col-form-label">{{translations.CHANGE_PASSWORD.NEW_PASSWORD | translate}}</label>
              <input type="password" validator class="form-control col-sm-8 "
                formControlName="NewPassword" id="NewPassword"
                placeholder="{{translations.CHANGE_PASSWORD.NEW_PASSWORD_PLACEHOLDER | translate}}"
                [(ngModel)]="data.NewPassword">
            </div>
            <!-- END 新密碼 -->
          </div>


          <div class="col-sm-8 offset-sm-2 input-group">
            <app-password-strength-bar [passwordToCheck]="data.NewPassword"
              barLabel="{{ translations.CHANGE_PASSWORD.PASSWORD_STRENGHT | translate }}"></app-password-strength-bar>
          </div>


          <div class="row">
            <!-- 新密碼確認 -->
            <div class="col-sm-12 input-group">
              <label for="ConfirmPassword"
              starsign class="col-sm-2 col-form-label">{{translations.CHANGE_PASSWORD.CONFIRM_PASSWORD | translate}}</label>
              <input
                type="password"
                validator
                class="form-control col-sm-8 "
                formControlName="ConfirmPassword" id="ConfirmPassword"
                placeholder="{{translations.CHANGE_PASSWORD.CONFIRM_PASSWORD_PLACEHOLDER | translate}}"
                [(ngModel)]="data.ConfirmPassword">
            </div>
            <!-- END 新密碼確認 -->

          </div>
        </form>

      </nb-card-body>
    </nb-card>
  </div>
</div>
