<div class="modal-header nb-card-header">
  <span>{{ translations.COMMON.SEARCH_RESULT_TITLE | translate }}</span>
  <button class="close" aria-label="Close" (click)="closeModel()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body nb-card-body">
  <app-can [model]="model"></app-can>
</div>
<div class="modal-footer flex-center">
  <button *ngIf="uiActionType != actionType.Read" (click)="confirm()" class="btn btn-md m-3 btn-ptc-confirm">{{ translations.COMMON.BTN_CHECK | translate }}</button>
  <!-- <button (click)="closeModel()" class="btn btn-md m-3 btn-primary">{{ translations.COMMON.BTN_BACK | translate }}</button> -->
</div>
