@import "../../../../../basic.style.scss";


:host ::ng-deep{

  @include mat-table-columns(
    (ConcatUserName: (width: 5%), 
    ComplainedUserName: (width: 5%), 
    ComplainedUserParentNamePath: (width:9%), 
    CaseAssignmentUser: (width: 8%),
    CaseID: (width: 9%),
    CaseSourceType: (width: 6%),
    CreateTime: (width: 6%),
    CaseWarning: (width: 6%),
    CaseType: (width: 6%),
    SN: (width: 4%),
    ApplyUserName: (width: 5%),
    FirstClassification: (width: 5%),
    p-operator: (width: 5%)));
  
  
}


.title{
  color: #747778;
}


.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}