#customer-alert {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;

}

#alert-frame {
  z-index: 999;
  background-color: white;
  max-height: 700px;
  margin: 10%;
  border-radius: 10px;

  #title {
    border-bottom: 1px solid #ebeef2;
  }

  #footer {
    border-top: 1px solid #ebeef2;
  }

  #alert-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px;
    max-height: 400px;
    overflow: scroll;
  }
}
