
@import "../../../../../../basic.style.scss";


:host ::ng-deep {
  @include mat-table-columns((
      related: (width: 5%),
      CaseID: (width: 20%),
      CreateDateTime: (width: 10%),
      Content: (width: 20%),
      NodeName: (width: 10%),
      CaseType: (width: 15%),
    ));


    .truncate {
        margin: 0  auto;
        width: 150px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    
}
