<div class="modal-header">
  <span>{{ translations.USER.AD_PASSWORD | translate }} </span>
  <button (click)="closeModel()" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <!-- AD 密碼 -->
    <div class="col-sm-12 input-group">
      <input type="password" class="form-control" placeholder="{{ translations.USER.AD_PASSWORD_PLACEHOLDER | translate }}"
        [(ngModel)]="adPassword">
    </div>
    <!-- END AD 密碼 -->
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-md btn-primary" (click)="validAD()">{{ translations.USER.AD_PASSWORD_VALID | translate }}</button>
</div>
