<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header class="nb-card-header">{{ translations.USER.TITLE | translate }}-{{titleTypeString}}</nb-card-header>
      <nb-card-body class="nb-card-body">
        <form autocomplete="off" [formGroup]="form">
          <nb-tabset>
            <nb-tab tabTitle="{{ translations.USER.ROLE_INFO | translate }}">

              <div class="row ">
                <!-- 使用者姓名 -->
                <div class="col-sm-4 input-group">
                  <label starsign for="Name"
                    class="col-sm-4 col-form-label">{{ translations.USER.USER_NAME | translate }}</label>
                  <input type="text" validator class="form-control col-sm-8" formControlName="Name" id="Name"
                    [attr.readonly]="uiActionType == actionType.Read ? true : null"
                    placeholder="{{ translations.USER.USER_NAME | translate }}" [(ngModel)]="model.Name">
                </div>
                <!-- END 使用者姓名 -->

                <!--  啟用狀態 -->
                <div class="col-sm-4 input-group">
                  <label for="IsEnabled"
                    class="col-sm-4 col-form-label">{{ translations.USER.IS_ENABLED | translate }}</label>
                  <nb-checkbox validator class="col-sm-8" formControlName="IsEnabled" id="IsEnabled"
                    [(ngModel)]="model.IsEnable" [disabled]="uiActionType == actionType.Read ? true : null">
                  </nb-checkbox>
                </div>
                <!-- END 啟用狀態 -->

                <!--  是否為系統使用者 -->
                <div class="col-sm-4 input-group">
                  <label for="IsSystemUser"
                    class="col-sm-4 col-form-label">{{ translations.USER.IS_SYSTEM_USER | translate }}</label>

                  <nb-checkbox validator class="col-sm-8" formControlName="IsSystemUser" id="IsSystemUser"
                    [(ngModel)]="model.IsSystemUser" [disabled]="uiActionType == actionType.Read ? true : null"
                    (change)="onCheckChangeResetForm($event)">
                  </nb-checkbox>
                </div>
                <!-- END 是否為系統使用者 -->
              </div>

              <div class="row ">
                <!--  使用者電話 -->
                <div class="col-sm-4 input-group">
                  <label for="Telephone"
                    class="col-sm-4 col-form-label">{{ translations.USER.TELEPHONE | translate }}</label>
                  <input type="text" validator class="form-control col-sm-8" formControlName="Telephone" id="Telephone"
                    [attr.readonly]="uiActionType == actionType.Read ? true : null"
                    placeholder="{{ translations.USER.TELEPHONE_PLACEHOLDER | translate }}"
                    [(ngModel)]="model.Telephone">
                </div>
                <!-- END 使用者電話 -->

                <!--  使用者分機 -->
                <div class="col-sm-4 input-group">
                  <label for="Ext" class="col-sm-4 col-form-label">{{ translations.USER.EXT | translate }}</label>
                  <input type="text" validator class="form-control col-sm-8" formControlName="Ext" id="Ext"
                    [attr.readonly]="uiActionType == actionType.Read ? true : null"
                    placeholder="{{ translations.USER.EXT_PLACEHOLDER | translate }}" [(ngModel)]="model.Ext">
                </div>
                <!-- END 使用者分機 -->

                <!--  使用者信箱 -->
                <div class="col-sm-4 input-group">
                  <label for="Email" class="col-sm-4 col-form-label">{{ translations.USER.EMAIL | translate }}</label>
                  <input type="email" validator class="form-control col-sm-8" formControlName="Email" id="Email"
                    [attr.readonly]="uiActionType == actionType.Read ? true : null"
                    placeholder="{{ translations.USER.EMAIL_PLACEHOLDER | translate }}" [(ngModel)]="model.Email">
                </div>
                <!-- END 使用者信箱 -->
              </div>

              <div class="row ">
                <!--  使用者手機 -->
                <div class="col-sm-4 input-group">
                  <label for="Mobile" class="col-sm-4 col-form-label">{{ translations.USER.PHONE | translate }}</label>
                  <input type="text" validator class="form-control col-sm-8" formControlName="Mobile" id="Mobile"
                    [attr.readonly]="uiActionType == actionType.Read ? true : null"
                    placeholder="{{ translations.USER.PHONE_PLACEHOLDER | translate }}" [(ngModel)]="model.Mobile">
                </div>
                <!-- END 使用者手機 -->
              </div>

              <ng-container *ngIf="model.IsSystemUser">
                <div class="row ">
                  <!-- 使用者帳號 -->
                  <div class="col-sm-4 input-group">

                    <label starsign for="Account"
                      class="col-sm-4 col-form-label">{{ translations.USER.ACCOUNT | translate }}</label>
                    <input type="text" validator class="form-control col-sm-8" formControlName="Account" id="Account"
                      [attr.readonly]="uiActionType == actionType.Read ? true : null"
                      placeholder="{{ translations.USER.ACCOUNT_PLACEHOLDER | translate }}" [(ngModel)]="model.Account">

                  </div>
                  <!-- END 使用者帳號 -->

                  <!-- 系統操作權限 -->
                  <div class="col-sm-4 input-group">

                    <label for="RoleName"
                      class="col-sm-4 col-form-label">{{ translations.USER.ROLE_NAME | translate }}</label>
                    <div class="col-sm-8">
                      <app-role-select formControlName="roleIDs" [(ngModel)]="model.RoleIDs" [multiple]="true"
                        [placeholder]="translations.USER.ROLE_NAME_PLACEHOLDER | translate"
                        [disabled]="uiActionType == actionType.Read ? true : null">
                      </app-role-select>
                    </div>

                  </div>
                  <!-- END 系統操作權限 -->

                  <div class="col-sm-4 input-group">
                    <!--  是否為AD人員 -->
                    <div class="col-sm-10">
                      <div class="row">
                        <label for="IsAD"
                          class="col-sm-4 col-form-label">{{ translations.USER.IS_AD | translate }}</label>
                        <nb-checkbox validator class="offset-sm-1 col-sm-8" formControlName="IsAD" id="IsAD"
                          [disabled]="uiActionType == actionType.Read ? true : null"
                          (change)="onCheckChangeResetButton(IsADCheckBox.value)" #IsADCheckBox>
                        </nb-checkbox>
                      </div>

                    </div>
                    <!-- END 是否為AD人員 -->

                    <!-- 重置密碼按鈕 -->
                    <div class="col-sm-2 input-group" *ngIf="!model.IsAD && uiActionType == actionType.Update">
                      <div class="row flex-left">
                        <button type="button" class="btn btn-sm btn-primary"
                          (click)="btnResetPassword($event)">{{ translations.USER.RESET_PASSWORD | translate }}
                        </button>
                      </div>
                    </div>
                    <!-- END 重置密碼按鈕 -->
                  </div>
                </div>

                <div class="row">
                  <!-- 生效時間 -->
                  <div class="col-sm-4 input-group">
                    <label for="EnableDateTime"
                      class="col-sm-4 col-form-label">{{ translations.USER.ENABLE_TIME | translate }}</label>
                    <input type="text" class="form-control col-sm-8"
                      [attr.disabled]="uiActionType == actionType.Read ? true : null"
                      [placeholder]="translations.USER.ENABLE_TIME_PLACEHOLDER | translate"
                      formControlName="EnableDateTime" id="EnableDateTime" [(ngModel)]="model.EnableDateTime" validator
                      daterangepicker/>
                  </div>
                  <!-- END 生效時間 -->
                </div>
              </ng-container>

              <ng-container *ngIf="uiActionType == actionType.Read || uiActionType == actionType.Update">
                <div class="row">
                  <!-- 建立人員 -->
                  <div class="col-sm-6 input-group">
                    <label for="CreateUserName"
                      class="col-sm-4 col-form-label">{{ translations.USER.CREATE_USERNAME_LABEL | translate }}</label>
                    <input type="text" validator class="form-control col-sm-8" disabled formControlName="CreateUserName"
                      placeholder="{{ translations.USER.CREATE_USERNAME_PLACEHOLDER | translate }}"
                      [(ngModel)]="model.CreateUserName">
                  </div>
                  <!-- END 建立人員 -->
                  <!-- 建立時間 -->
                  <div class="col-sm-6 input-group">
                    <label for="CreateDateTime"
                      class="col-sm-4 col-form-label">{{ translations.USER.CREATE_DATETIME_LABEL | translate }}</label>
                    <input type="text" validator class="form-control col-sm-8" disabled formControlName="CreateDateTime"
                      placeholder="{{ translations.USER.CREATE_DATETIME_PLACEHOLDER | translate }}"
                      [(ngModel)]="model.CreateDateTime">
                  </div>
                  <!-- END 建立時間 -->
                </div>
                <div class="row">
                  <!-- 更新人員 -->
                  <div class="col-sm-6 input-group">
                    <label for="UpdateUserName"
                      class="col-sm-4 col-form-label">{{ translations.USER.UPDATE_USERNAME_LABEL | translate }}</label>
                    <input type="text" validator class="form-control col-sm-8" disabled formControlName="UpdateUserName"
                      id="UpdateUserName" placeholder="{{ translations.USER.UPDATE_USERNAME_PLACEHOLDER | translate }}"
                      [(ngModel)]="model.UpdateUserName">
                  </div>
                  <!-- END 更新人員 -->
                  <!-- 更新時間 -->
                  <div class="col-sm-6 input-group">
                    <label for="UpdateDateTime"
                      class="col-sm-4 col-form-label">{{ translations.USER.UPDATE_DATETIME_LABEL | translate }}</label>
                    <input type="text" validator class="form-control col-sm-8" disabled formControlName="UpdateDateTime"
                      id="UpdateDateTime" placeholder="{{ translations.USER.UPDATE_DATETIME_PLACEHOLDER | translate }}"
                      [(ngModel)]="model.UpdateDateTime">
                  </div>
                  <!-- END 更新時間 -->
                </div>
              </ng-container>
            </nb-tab>

            <nb-tab tabTitle="{{ translations.USER.USER_OPERATOR | translate }}">
              <!-- 操作權限 -->
              <div class="col-lg-12">
                <nb-card>
                  <nb-card-body>
                    <app-authentication-tree [displayDeny]="true" [operator]="model"
                      [disabled]="(uiActionType == actionType.Read) ? true : null">
                    </app-authentication-tree>
                  </nb-card-body>
                </nb-card>
              </div>
              <!-- END 操作權限 -->
            </nb-tab>
          </nb-tabset>
          <!-- 設定按鈕 -->
          <div class="mt-5">
            <div class="row flex-center">
              <button type="button" *ngIf="uiActionType == actionType.Update" class="btn btn-sm btn-ptc-confirm mx-5"
                [authorize]="authType.Update"
                (click)="btnEdit($event)">{{ translations.COMMON.BTN_CONFIRM | translate }}
              </button>
              <button type="button" *ngIf="uiActionType == actionType.Add" class="btn btn-sm btn-ptc-confirm mx-5" authorize
                [authorize]="authType.Add" (click)="btnAdd($event)">{{ translations.COMMON.BTN_CONFIRM | translate }}
              </button>
              <button type="button" class="btn btn-sm btn-kind-finished mx-5"
                (click)="btnBack($event)">{{ translations.COMMON.BTN_BACK | translate }}</button>
            </div>
          </div>
          <!-- END 設定按鈕 -->
        </form>

      </nb-card-body>
    </nb-card>
  </div>
</div>
