<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header class="nb-card-header">
        <span>{{translations.EMAIL_NOTIFICATION.CREATE_USER_TITLE | translate}}</span>
        <button class="close" aria-label="Close" (click)="btnBack()">
          <span aria-hidden="true">&times;</span>
        </button>
      </nb-card-header>
      <nb-card-body class="nb-card-body">
        <form [formGroup]="form">

          <div class="row">
            <div class="col-sm-12 input-group">
              <label for="UserName"
                class="col-sm-4 col-form-label">{{translations.EMAIL_NOTIFICATION.CREATE_USER_NAME_LABLE | translate}}</label>
              <input type="text" class="form-control col-sm-8" formControlName="UserName" validator
                placeholder="{{translations.EMAIL_NOTIFICATION.CREATE_USER_NAME_PLACEHOLDER | translate}}"
                [(ngModel)]="model.UserName">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 input-group">
              <label for="Email"
                class="col-sm-4 col-form-label">{{translations.EMAIL_NOTIFICATION.CREATE_EMAIL_LABEL | translate}}</label>
              <input type="text" class="form-control col-sm-8" formControlName="Email" validator
                placeholder="{{translations.EMAIL_NOTIFICATION.CREATE_EMAIL_PLACEHOLDER | translate}}"
                [(ngModel)]="model.Email">
            </div>
          </div>
          <div class="mt-5">
            <div class="row flex-center">
              <button type="button" class="btn btn-sm btn-ptc-confirm mx-5"
                (click)="btnAdd()">{{ translations.COMMON.BTN_CONFIRM | translate }}
              </button>
              <!-- <button type="button" class="btn btn-sm btn-warning mx-5"
                (click)="btnBack()">{{ translations.COMMON.BTN_BACK | translate }}</button> -->
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
