
@import "../../../../../basic.style.scss";

::ng-deep {
    @include mat-table-columns((NoticeDateTime: (width: 10%),CaseID: (width: 10%),SN: (width: 4%),Mode: (width: 8%),
    Type: (width: 8%),CaseAssignmentUser: (width: 8%),ConcatUserName: (width: 8%),ComplainedUserName: (width: 8%),ComplainedUserParentNamePath: (width: 10%),
    CaseContent: (width: 10%),NoticeContent: (width: 10%),p-operator: (width: 6%)));
  }
  

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
