@import "../../../../../basic.style.scss";

.input-group {
  margin-bottom: 1rem;
}

.form-group label {
  padding: 0 0 0.75rem;
}

nb-accordion {
  width: 100%;
}

textarea {
  width: 100%;
}

.contentRef {
  text-align: left;
  width: 600px;
}
