@import "../../../../@theme//styles/themes.scss";


@include nb-install-component() {
  app-ptc-local-table {
    ::ng-deep .mat-paginator {
      background: none !important;

      *,
      input {
        color: nb-theme(form-control-text-primary-color);
      }
    }

    ::ng-deep table.mat-table {
      background: none !important;

      td,
      th {
        color: nb-theme(form-control-text-primary-color);
      }

      th {
        font-size: 16px;
      }

      td{
        text-align:left;
      }

      .mat-row:hover {

        background-color: #a8fdc1 !important;
        .mat-cell {
          // border-top: 1px solid #4df880 !important;
          // border-bottom: 1px solid #4df880 !important;
          cursor: pointer!important;
        }

      }

      .mat-row:nth-child(odd) {}

      .mat-row:nth-child(even) {
        background-color: #e7f1ea
      }

      table {
        /* row spacing / margin */
        border-spacing: 0 8px !important;
      }
    }
  }
}
