<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue" />

  <targets>
    <target name="System" xsi:type="File"
        layout="${longdate} - ${level} - ${logger} - ${message}"
        encoding ="UTF-8"
        fileName="${basedir}/logs/${date:format=yyyyMMdd}System.log"
        keepFileOpen="false" />

    <target
      xsi:type="Mail"
      name="Email"
      layout="${longdate} - ${logger} - ${message}"
      encoding ="UTF-8"
      subject="【SMART_II】錯誤示警"
      to="SMARTII_SE@ptc-nec.com.tw"
      from="SMARTII_SE@ptc-nec.com.tw"
      smtpServer="smtp.ptc-nec.com.tw"
      smtpPort="25">
    </target>

    <target name="Database"
            xsi:type="Database"
            commandText="INSERT INTO SYSTEM_LOG(FEATURE_NAME, FEATURE_TAG, [CONTENT], CREATE_DATETIME, CREATE_USERNAME, CREATE_USER_ACCOUNT, OPERATOR)
              VALUES ( @FeatureName, @FeatureTag, @Content, @CreateDateTime, @CreateUserName, @CreateUserAccount, @Operator)">
      <parameter name="@FeatureName" layout="${event-properties:Data:objectpath=FeatureName}" />
      <parameter name="@FeatureTag" layout="${event-properties:Data:objectpath=FeatureTag}" />
      <parameter name="@Content" layout="${event-properties:Data:objectpath=Content}" />
      <parameter name="@CreateDateTime" layout="${event-properties:Data:objectpath=CreateDateTime}" />
      <parameter name="@CreateUserName" layout="${event-properties:Data:objectpath=CreateUserName}" />
      <parameter name="@CreateUserAccount" layout="${event-properties:Data:objectpath=CreateUserAccount}" />
      <parameter name="@Operator" layout="${event-properties:Data:objectpath=Operator}" />
    </target>
  </targets>

  <rules>

    <logger name="System" minlevel="Debug" writeTo="System" />
    <logger name="Email" minlevel="Error" writeTo="Email" />
    <logger name="Database" minlevel="Error" writeTo="Database" />
  </rules>
</nlog>