
.comboBox {
  width: 400px;
}


.comboGroup {
  position: relative;
  width: 100%;
  text-align: left;
}

.comboGroup * {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
}

.hashtag , .hashtag-add{
  text-align: center;
  padding: 12px;
  background-color: #eff6fc;
  border-radius: 7px;
  margin: 6px;
}

.comboGroup input {
  padding: 8px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: #fff;
  z-index: 0;
}

.comboGroup ul {
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  background-color: #fefefe;
  z-index: 1;
  position: absolute;
  top: 40px;
  padding: 8px;
  max-height: 200px;
  overflow-y: scroll;
}

.comboGroup li {
  padding: 6px;
  margin: 0;
  border-radius: 4px;
  width: 100%;
  display: block;
}

.comboGroup li:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  text-decoration: underline;
}


.TEST{
  z-index: 99999 !important;
  position: relative;
}